.booklist {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.bookcard {
    margin: 10px;
    width:100%;
}

.bookcard a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}


.bookcard .dv-star-rating {
    font-size: 1.5rem;
}

